
<link rel="stylesheet" href="/LastMileData/lib/leaflet/leaflet.css" />

<script>
    $.getScript('/LastMileData/lib/leaflet/leaflet.js');
    $.getScript('/LastMileData/src/js/leafletMap.js');
</script>

<style>
    #map {
        width: 800px;
        height: 500px;
    }

    .leaflet-control-attribution {
        display:none;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
</style>

<div id="map"></div>
<button id="setView_GG" style="margin-top:5px">Grand Gedeh</button>
<button id="setView_RC" style="margin-top:5px">Rivercess</button>
<button id="setView_LIB" style="margin-top:5px">Liberia</button>
<button id="var1" style="margin-top:5px">Var 1</button>
<button id="var2" style="margin-top:5px">Var 2</button>
