<h1>Treatment <span style="font-size:60%">(updated: 2/28/2015)</span></h1>
<hr>

<h3><b>Treatment</b>: iCCM (total # of children treated)</h3>
<div id="dataportal_treatment_iccmVisits">
    <script>
        $.getScript("/LastMileData/src/js/Dimple/dataportal_treatment_iccmVisits.js");
    </script>
</div>
<hr>

<h3><b>Treatment</b>: iCCM (# of children treated / 10,000 people served)</h3>
<div id="dataportal_treatment_iccmVisitsPerPopulation">
    <script>
        $.getScript("/LastMileData/src/js/Dimple/dataportal_treatment_iccmVisitsPerPopulation.js");
    </script>
</div>
<hr>
