<style>
    #overview {
        font-size:125%
    }
    
    .oHeader {
        font-weight:bold;
    }
</style>

<h1>Overview</h1>
<hr>

<div id="overview">
    
    <h3>Notes</h3>
    <ul>
        <li>
            <span class="oHeader">Updates.</span>
            The <i>Data Portal</i> is updated on the 11th of each month. Dates of data updates are listed individually on each page of the Portal.
        </li>
        <li>
            <span class="oHeader">Data usage.</span>
            Any information within the <i>Data Portal</i> can be used internally or externally. Feel free to consult the M&E team if there is any uncertainty around how to best contextualize or frame the data.
        </li>
        <li>
            <span class="oHeader">Screen resolution.</span>
            A minimum screen resolution of 1024x768 is required to properly display content.
        </li>
    </ul>
    
    <h3>Contents</h3>
    <ul>
        <li>
            <span class="oHeader">Executive Dashboard.</span>
            Cross-team executive dashboard, with data from programs, HR, development, and finance.
        </li>
        <li>
            <span class="oHeader">Treatment.</span>
            Treatment data for iCCM (malaria, diarrhea, and pneumonia).
        </li>
        <li>
            <span class="oHeader">Ebola activities.</span>
            Ebola education/screening numbers, training data.
        </li>
        <li>
            <span class="oHeader">FHW training.</span>
            Number of FHWs, broken down by training level.
        </li>
        <li>
            <span class="oHeader">Liberia population.</span>
            Population data for the communities in Liberia.
        </li>
    </ul>
    
    <h3>Coming soon..</h3>
    <ul>
        <li>
            <span class="oHeader">KPIA.</span>
            Data from the KPI Assessment, a short survey administered by FHWs in August of 2014 in Konobo.
        </li>
        <li>
            <span class="oHeader">Maps.</span>
            Maps and GIS data from our new scale-up sites (Rivercess, Gboe-Ploe).
        </li>
    </ul>
    
</div>

<div class="whitespace"></div>
