<h1>Overview</h1>
<hr>

<div>
    <b>Note: The <i>Data Portal</i> requires a minimum screen resolution of 1024x768 to function properly.</b>
</div>

<h3>Executive Dashboard</h3>
<div>Cross-team executive dashboard.</div>

<h3>Treatment</h3>
<div>Treatment data for iCCM (malaria, diarrhea, and pneumonia)</div>

<h3>Ebola activities</h3>
<div>Ebola education/screening numbers, training data.</div>

<h3>FHW training</h3>
<div>Number of FHWs, broken down by training level.</div>

<h3>Liberia population</h3>
<div>Population data for the communities in Liberia</div>

<div class="whitespace"></div>
