
#outerContainer {
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden
}

#outerContainer hr {
    position:relative; top:-10px
}

#dp_sidebar {
    height:100%;
    /*background: -moz-linear-gradient(top,  #c1c1c1 0%, #d6d6d6 14%, #bfbfbf 26%, #d6d6d6 39%, #d6d6d6 39%, #c1c1c1 56%, #d6d6d6 81%, #c1c1c1 100%);  FF3.6+ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(14%,#d6d6d6), color-stop(26%,#bfbfbf), color-stop(39%,#d6d6d6), color-stop(39%,#d6d6d6), color-stop(56%,#c1c1c1), color-stop(81%,#d6d6d6), color-stop(100%,#c1c1c1));  Chrome,Safari4+ background: -webkit-linear-gradient(top,  #c1c1c1 0%,#d6d6d6 14%,#bfbfbf 26%,#d6d6d6 39%,#d6d6d6 39%,#c1c1c1 56%,#d6d6d6 81%,#c1c1c1 100%);  Chrome10+,Safari5.1+ background: -o-linear-gradient(top,  #c1c1c1 0%,#d6d6d6 14%,#bfbfbf 26%,#d6d6d6 39%,#d6d6d6 39%,#c1c1c1 56%,#d6d6d6 81%,#c1c1c1 100%);  Opera 11.10+ background: -ms-linear-gradient(top,  #c1c1c1 0%,#d6d6d6 14%,#bfbfbf 26%,#d6d6d6 39%,#d6d6d6 39%,#c1c1c1 56%,#d6d6d6 81%,#c1c1c1 100%);  IE10+ background: linear-gradient(to bottom,  #c1c1c1 0%,#d6d6d6 14%,#bfbfbf 26%,#d6d6d6 39%,#d6d6d6 39%,#c1c1c1 56%,#d6d6d6 81%,#c1c1c1 100%);  W3C filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#c1c1c1',GradientType=0 );*/
background: -moz-linear-gradient(left,  rgba(8,94,61,0.4) 0%, rgba(10,117,72,0.4) 34%, rgba(10,119,74,0.4) 67%, rgba(8,91,69,0.4) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(8,94,61,0.4)), color-stop(34%,rgba(10,117,72,0.4)), color-stop(67%,rgba(10,119,74,0.4)), color-stop(100%,rgba(8,91,69,0.4))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(8,94,61,0.4) 0%,rgba(10,117,72,0.4) 34%,rgba(10,119,74,0.4) 67%,rgba(8,91,69,0.4) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(8,94,61,0.4) 0%,rgba(10,117,72,0.4) 34%,rgba(10,119,74,0.4) 67%,rgba(8,91,69,0.4) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(8,94,61,0.4) 0%,rgba(10,117,72,0.4) 34%,rgba(10,119,74,0.4) 67%,rgba(8,91,69,0.4) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(8,94,61,0.4) 0%,rgba(10,117,72,0.4) 34%,rgba(10,119,74,0.4) 67%,rgba(8,91,69,0.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66085e3d', endColorstr='#66085b45',GradientType=1 ); /* IE6-9 */
    
}

#dashboard_iframe {
    width:100%;
    height:100%;
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    border:none;
}

#mainContainer {
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    display:none;
    height:100%;
}

#whitespaceContainer {
    display:none;
    background-color:white;
    height:100%;
}

.whitespace {
    position:absolute;
    height:500px;
    height:500px;
}

th {
    font-size:120%;
}

/* Sidebar */
.nav-sidebar {
    cursor:pointer;
    margin-right: -16px;
    margin-left: -16px;
}
.nav-sidebar a {
    color:#555;
    font-weight:bold;
}
.nav-sidebar div {
    padding-right: 2px;
    padding-left: 2px;
}
.dp-active {
    border-radius: 3px;
background: rgb(221,133,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
}
.dp-active a {
    color: white;
}
.nav-sidebar div div:hover {
background: rgb(221,133,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
}
.nav-sidebar div div:hover a {
    color: white;
    text-decoration:none;
}

// !!!!! Unused "hover for definition" button !!!!!
// !!!!! <span class="definition">D</span> !!!!!
.definition {
    cursor:pointer;
    font-weight:bold;
    color:white!important;                  /* overrides boostrap.min.css */
    background-color:#336600!important;     /* overrides boostrap.min.css */
    padding-top:3px;
    border-radius:10px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    -webkit-print-color-adjust:exact;
}

.definition:hover {
    position:relative;
    top:1px;
}

table.ptg_data th {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    font-size:100%;
    color:white;
background: rgb(224,117,17); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}

table.ptg_data td {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    background-color: #eeeeee;
}

.smallHR {
    margin-bottom:0px;
}


/* jQueryUI - accordion */
.ui-widget-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
}
.ui-accordion .ui-accordion-header {
    display: block; cursor: pointer; position: relative; margin: 2px 3px 0 3px; padding: 5px 5px 5px 5px; min-height: 0; /* support: IE7 */ font-size: 110%;
}
.ui-accordion .ui-accordion-content {
    padding: 2px; border-top: 0; overflow: auto; margin: 0 3px 0 3px;
}
.ui-widget-content {
    border: 1px solid #dfd9c3; background: #f5f3e5;
}
.ui-widget-header {
    border: 1px solid #d4ccb0; background: #ece8da; color: #433f38; font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
    font-weight: bold; color: #ffffff; 
    
    border: 1px solid #2B9170;
    background: -moz-linear-gradient(left,  rgba(15,147,173,0.48) 0%, rgba(14,163,98,0.47) 34%, rgba(14,160,124,0.45) 67%, rgba(14,111,163,0.44) 99%, rgba(14,111,163,0.44) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,147,173,0.48)), color-stop(34%,rgba(14,163,98,0.47)), color-stop(67%,rgba(14,160,124,0.45)), color-stop(99%,rgba(14,111,163,0.44)), color-stop(100%,rgba(14,111,163,0.44))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(15,147,173,0.48) 0%,rgba(14,163,98,0.47) 34%,rgba(14,160,124,0.45) 67%,rgba(14,111,163,0.44) 99%,rgba(14,111,163,0.44) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(15,147,173,0.48) 0%,rgba(14,163,98,0.47) 34%,rgba(14,160,124,0.45) 67%,rgba(14,111,163,0.44) 99%,rgba(14,111,163,0.44) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(15,147,173,0.48) 0%,rgba(14,163,98,0.47) 34%,rgba(14,160,124,0.45) 67%,rgba(14,111,163,0.44) 99%,rgba(14,111,163,0.44) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(15,147,173,0.48) 0%,rgba(14,163,98,0.47) 34%,rgba(14,160,124,0.45) 67%,rgba(14,111,163,0.44) 99%,rgba(14,111,163,0.44) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0f93ad', endColorstr='#700e6fa3',GradientType=1 ); /* IE6-9 */
    
    /*background: -moz-radial-gradient(center, ellipse cover,  rgba(0,142,0,0.8) 0%, rgba(68,155,0,0.7) 99%, rgba(69,155,0,0.7) 100%);  FF3.6+ background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,142,0,0.8)), color-stop(99%,rgba(68,155,0,0.7)), color-stop(100%,rgba(69,155,0,0.7)));  Chrome,Safari4+ background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,142,0,0.8) 0%,rgba(68,155,0,0.7) 99%,rgba(69,155,0,0.7) 100%);  Chrome10+,Safari5.1+ background: -o-radial-gradient(center, ellipse cover,  rgba(0,142,0,0.8) 0%,rgba(68,155,0,0.7) 99%,rgba(69,155,0,0.7) 100%);  Opera 12+ background: -ms-radial-gradient(center, ellipse cover,  rgba(0,142,0,0.8) 0%,rgba(68,155,0,0.7) 99%,rgba(69,155,0,0.7) 100%);  IE10+ background: radial-gradient(ellipse at center,  rgba(0,142,0,0.8) 0%,rgba(68,155,0,0.7) 99%,rgba(69,155,0,0.7) 100%);  W3C filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc008e00', endColorstr='#b3459b00',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    font-weight: bold; color: #ffffff;
    
background: rgb(11,127,83); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(11,127,83,1) 0%, rgba(14,160,116,1) 34%, rgba(10,117,113,1) 67%, rgba(14,158,131,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,127,83,1)), color-stop(34%,rgba(14,160,116,1)), color-stop(67%,rgba(10,117,113,1)), color-stop(100%,rgba(14,158,131,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(11,127,83,1) 0%,rgba(14,160,116,1) 34%,rgba(10,117,113,1) 67%,rgba(14,158,131,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(11,127,83,1) 0%,rgba(14,160,116,1) 34%,rgba(10,117,113,1) 67%,rgba(14,158,131,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(11,127,83,1) 0%,rgba(14,160,116,1) 34%,rgba(10,117,113,1) 67%,rgba(14,158,131,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(11,127,83,1) 0%,rgba(14,160,116,1) 34%,rgba(10,117,113,1) 67%,rgba(14,158,131,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b7f53', endColorstr='#0e9e83',GradientType=1 ); /* IE6-9 */
   
    /*background: rgb(157,213,58);  Old browsers background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 32%, rgba(128,194,23,1) 69%, rgba(124,188,10,1) 100%);  FF3.6+ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(32%,rgba(161,213,79,1)), color-stop(69%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));  Chrome,Safari4+ background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 32%,rgba(128,194,23,1) 69%,rgba(124,188,10,1) 100%);  Chrome10+,Safari5.1+ background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 32%,rgba(128,194,23,1) 69%,rgba(124,188,10,1) 100%);  Opera 11.10+ background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 32%,rgba(128,194,23,1) 69%,rgba(124,188,10,1) 100%);  IE10+ background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 32%,rgba(128,194,23,1) 69%,rgba(124,188,10,1) 100%);  W3C filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );  IE6-9 */
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: bold; color: #ffffff;
    border: 1px solid #CE7918;
background: rgb(224,117,17); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}
*:focus {
    outline: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 6px; }
