
# Last Mile Data - testing

<IfModule mod_headers.c>
<IfModule mod_expires.c>

ExpiresActive On
ExpiresDefault "access plus 15 seconds"

#    Header set Cache-Control "no-cache, no-store, must-revalidate"
#    Header set Pragma "no-cache"
#    Header set Expires 0


</IfModule>
</IfModule>
