.style3 {
    background-color:maroon;
    color:green;
    font-weight:bold;
}

.style4 {
    background-color:maroon;
    color:green;
    font-weight:bold;
}

#style5 {
    background-color:maroon;
    color:green;
    font-weight:bold;
}
