#sourceTA {
    display: block;
}

#targetDiv {
  border: 1px dashed #333333;
  overflow:scroll;
  padding:10px;
  margin:10px;
  float:left;
  width:45%;
  height:400px;
}

#sourceDiv {
    padding:10px;
    margin:10px;
    float:left;
    width:45%;
    background:grey;
    height:400px
}

body {
    font-family: arial;
    color:#333
}

h1 { color:darkblue; }
h2 { color:#008080 }

table, th, td {
    border: 2px solid green;
}