
# Last Mile Data - JS

# Cache "forever"; Grunt will change revision number of JS resources when they change
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 years"
</IfModule>
