#sidebarDIV_edit {
    font-weight: bold;
    color: #333;
}

#sidebarDIV_edit .outerTab {
    padding: 10px;
    margin: 10px;
    width: 800px;
    background: lightblue;
    border: 1px solid #AAA;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #eee;
}

#btn_save {
    width: 800px;
}

#sidebarDIV_edit .innerTab {
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 95%;
    background: #CCC0DA;
    border: 1px solid #AAA;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #ddd;
}

#sidebarDIV_edit input {
    border-radius: 4px;
    position: relative;
    top:-6px;
    border: none;
}

#sidebarDIV_edit .outerTab input {
    width:90%;
}

#sidebarDIV_edit .innerTab input {
    width:23%;
}

#sidebarDIV_edit .innerTab select {
    height:24px;
    border-radius: 4px;
    position: relative;
    top:-6px;
}

    #displayOrder {
    margin: 10px;
    font-size:20px;
    width: 400px;
}

.btn {
    margin: 10px;
}

.btn-sm, .btn-xs {
    position:relative;
    top:-7px;
    margin-left:0px;
    margin-right:0px;
}

.addInnerDiv {
    text-align:center;
}

#addOuter {
    width: 800px;
}