
#editReports_bottom {
    font-weight: bold;
    color: #333;
}

#editReports_bottom .roContainer {
    padding: 5px;
    margin: 5px;
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #eee;
}

.archived_0 {
    background: #fff;
}

.archived_1 {
    opacity:0.3;
    /*background: #aaa;*/
}

#btn_save {
    width: 800px;
}

#editReports_bottom input {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 2px;
}

#displayOrder {
    margin: 10px;
    font-size: 20px;
    width: 400px;
}

.btn {
    margin: 5px;
}

.btn-sm, .btn-xs {
    position: relative;
    top: -2px;
    margin-left: 0px;
    margin-right: 0px;
}

#btn_changeReportName {
    position:relative;
    top:-1px;
}

#addNewObj {
    width: 800px;
}

#editReports_top td {
    padding-right: 5px;
}

.repButton {
    position: relative;
    top: -1px;
}

.btn_archive, .btn_advanced {
    /*opacity:1.0; !!!!! need to fix opacity issue !!!!!*/
    /*background:#555;*/
}

#instructions_text {
    display: none;
}

#instructions_click {
    cursor: pointer;
}

#currentReport {
    font-weight: bold;
}

.roHeader {
    color: green;
}