/* 
    Description:    Used for all FHW Forms
    Last updated:   2014-12-03
    By:             Avi
*/

body {
    color:black;
}

/* For inner HRs within thickBox */
hr {
    color:black;
    border:1px solid black;
    height:0;
    margin-top:4px;
    margin-bottom:4px;
}

/* Hide all overflows */
div {
    overflow:hidden;
}

/* border for text inputs */
input {
    border:1px solid black;
}

/* container for a single printer page */
.page {
    overflow:hidden;
    border:2px solid black;
    margin:auto;
    padding:5px;
    width:7.5in;
    height:9.9in;
    page-break-after:always;
}

/* container for a single printer page (horizontally-oriented) */
.page_h {
    overflow:hidden;
    border:2px solid black;
    margin:auto;
    padding:5px;
    width:9.9in;
    height:7.45in;
    page-break-after:always;
}

/* container for a single printer page */
.deBox {
    border:2px solid black;
    margin:auto;
    margin-top:30px;
    padding:5px;
    width:7.5in;
    background-color:yellow;
}

/* Form headers */
.formHeader {
    text-align:center;
}

/* Form headers */
.formHeader span {
    position:relative;
    top:5px;
}

/* Form headers */
.formHeader img {
    height:40px;
}

/* For thick outer divs */
/* Single div spans 7.35in; for each additional div, add ~.05in */
.thickBox {
    border:2px solid black;
    padding:5px;
    margin-bottom:15px;
}

/* For instruction boxes */
.blackBox {
    font-weight:bold;
    color:white!important;                  /* overrides boostrap.min.css */
    background-color:#2f2f2f!important;     /* overrides boostrap.min.css */
    padding-top:3px;
    border-radius:5px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    -webkit-print-color-adjust:exact;
}

/* For validation box at top of each form */
#validationBox {
    display:none;
    margin-top:10px;
    background-color:#FFCCCC;
    margin:auto;
    padding:5px;
    border-radius:7px;
    width:7.5in;
    position:relative;
    top:15px;
}

/* For M&E box at bottom of each form */
#meBox {
    border:2px solid black;
    padding:5px;
    margin-bottom:15px;
    text-align:center;
}
#meBox input { margin-right:10px; }

input[name=meta_de_init] { width:45px; }
input[name=meta_de_date] { width:75px; }
input[name=meta_qa_init] { width:45px; }
input[name=meta_qa_date] { width:75px; }
input[name=sup_init] { width:45px; }
input[name=sup_date] { width:75px; }

/* For "dynamic selects" (implemented in fhwForms.js) */
.dynamicSelect {
    border: 1px solid black;
    height: 21px;
}

/* For inner columns */
/* Set widths individually in form head style section */
.inner_L {
    float:left;
    padding-right:3px;
    font-size:13px;
}
.inner_C {
    float:left;
    padding-right:3px;
    font-size:12px;
}
.inner_R {
    float:left;
    font-size:12px;
}

/* Checkbox option; one line */
.checkOption {
    height:19px;
}

/* Checkbox option; multiple lines */
.checkOption-ML {
    height:auto;
    overflow:visible;
}

/* Checkbox option */
.textOption {
    height:22px;
}

/* Conditional action options (by height, in rows) */
.caOption {
    border:1px solid black;
    margin:2px;
    padding-left:2px;
    padding-right:2px;
    font-size:90%;
}

/* For fields and field labels in "head" section of forms */
.headField {
    float:left;
    overflow:hidden;
}

@media print {
    
    /* Hide browser checkboxes */
    input[type='checkbox'] {
        display:none;
    }
    
    /* Hide SUBMIT / CANCEL Buttons */
    .formButtons {
        display:none;
    }
    
    /* Hide "data entry box" */
    .deBox { display:none; }
    
    /* Hide DE_Date and DE_Init inputs; these are replaced with dummy inputs #de_print_init and #de_print_date */
/*
    input[name=meta_DE_date], input[name=meta_DE_init] { display:none; }
*/
    input[name=meta_de_date], input[name=meta_de_init] { display:none; }
    #de_print_init { display:inline; width:45px; }
    #de_print_date { display:inline; width:75px; }
    
    /* Remove arrows from select dropdowns */
    .dynamicSelect {
        appearance:none;
        -webkit-appearance:none;
    }
    
}

@media screen {
    
    /* Hide checkbox image when viewing on screen */
    .chk_print {
        display:none;
    }

    /* Remove checkbox margin */
    input[type='checkbox'] {
        margin:0px;
    }
    
    /* Show SUBMIT / CANCEL Buttons */
    .formButtons {
        text-align:center;
        padding:10px;
    }
    
    /* Show SUBMIT / CANCEL Buttons */
    .formButtons button {
        font-size:20px;
        width:200px;
    }
    
    /* Hide dummy inputs #de_print_init and #de_print_date on screen */
    #de_print_init { display:none; }
    #de_print_date { display:none; }
    
    /* Give margin to pages */
    .page, .page_h {
        margin-top:30px;
    }
}

input[type='checkbox'] { 
    cursor:pointer;
}
