
body {
    overflow-y:hidden;
}

#outerContainer {
    position:absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom:0px;
}

#innerContainer {
    width:82%;
    padding:0;
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    overflow-y:auto
}

#innerContainer hr {
    position:relative;
    top:-10px
}

#dp_sidebar {
    height:100%;
    width:18%;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    overflow-y:auto;
    overflow-x: hidden;
    background: -moz-linear-gradient(left,  rgba(8,94,51,0.45) 0%, rgba(10,120,50,0.45) 34%, rgba(11,123,71,0.45) 67%, rgba(9,105,79,0.45) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(8,94,51,0.45)), color-stop(34%,rgba(10,120,50,0.45)), color-stop(67%,rgba(11,123,71,0.45)), color-stop(100%,rgba(9,105,79,0.45))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73085e33', endColorstr='#7309694f',GradientType=1 ); /* IE6-9 */
}

#dashboard_iframe {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    border:none;
}

#mainContainer {
    overflow-y:scroll;
    overflow-x:hidden;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    display:none;
    height:100%;
}

#whitespaceContainer {
    display:none;
    background-color:white;
    height:100%;
}

#whitespaceContainer div {
    position:relative;
    width:100px;
    left:20px
}

.whitespace {
    position:absolute;
    height:500px;
    height:500px;
}

th {
    font-size:120%;
}

/* Sidebar */
.nav-sidebar {
    overflow-y:scroll;
    overflow-x:hidden;
    cursor:pointer;
    margin-right: -16px;
}
.nav-sidebar div a {
    color:#555;
    font-weight:bold;
}
.nav-sidebar div div {
    padding-right: 2px;
    padding-left: 2px;
}
.dp-active {
    border-radius: 3px;
    background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
}
.nav-sidebar .dp-active a {
    color: white;
}
.nav-sidebar div div div:hover {
    background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
}
.nav-sidebar div div div:hover a {
    color: white;
    text-decoration:none;
}

table.ptg_data th {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    font-size:100%;
    color:white;
    background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}

table.ptg_data td {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    background-color: #eeeeee;
}

table.ptg_data td.label_table {
    text-align:left;
}

.smallHR {
    margin-bottom:0px;
}

/* jQueryUI - datepicker (jqueryui.com/themeroller/) */
.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-widget-content{border:1px solid #ddd;background:#eee url("../../lib/jquery-ui-1.11.1/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #e78f08;background:#f6a828 url("../../lib/jquery-ui-1.11.1/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;color:#fff;font-weight:bold}.ui-widget-header a{color:#fff}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ccc;background:#f6f6f6 url("../../lib/jquery-ui-1.11.1/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;font-weight:bold;color:#1c94c4}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("../../lib/jquery-ui-1.11.1/images/ui-icons_222222_256x240.png")}.ui-widget-header .ui-icon{background-image:url("../../lib/jquery-ui-1.11.1/images/ui-icons_ffffff_256x240.png")}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}

/* jQueryUI - accordion */
#dp_sidebar .ui-widget-overlay {
    top: 0; left: 0; width: 100%;
}
#dp_sidebar .ui-accordion .ui-accordion-header {
    display: block; cursor: pointer; position: relative; margin: 2px 3px 0 3px; padding: 5px 5px 5px 5px; min-height: 0; /* support: IE7 */ font-size: 110%;
}
#dp_sidebar .ui-accordion .ui-accordion-content {
    padding: 2px; border-top: 0; overflow: auto; margin: 0 3px 0 3px;
}
#dp_sidebar .ui-widget-content {
    border: 1px solid #dfd9c3; background: #f5f3e5;
}
#dp_sidebar .ui-widget-header {
    border: 1px solid #d4ccb0; background: #ece8da; color: #433f38; font-weight: bold;
}
#dp_sidebar .ui-state-default, #dp_sidebar .ui-widget-content .ui-state-default, #dp_sidebar .ui-widget-header .ui-state-default { 
    font-weight: bold; color: #ffffff; margin:0px;
    border: 1px solid #2B9170;
    background: -moz-linear-gradient(left,  rgba(15,161,171,0.65) 0%, rgba(14,160,143,0.65) 35%, rgba(13,136,145,0.65) 67%, rgba(14,114,160,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,161,171,0.65)), color-stop(35%,rgba(14,160,143,0.65)), color-stop(67%,rgba(13,136,145,0.65)), color-stop(100%,rgba(14,114,160,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60fa1ab', endColorstr='#a60e72a0',GradientType=1 ); /* IE6-9 */
}
.darkBlue, #dp_sidebar .ui-state-hover, #dp_sidebar .ui-widget-content .ui-state-hover, #dp_sidebar .ui-widget-header .ui-state-hover, #dp_sidebar .ui-state-focus, #dp_sidebar .ui-widget-content .ui-state-focus, #dp_sidebar .ui-widget-header .ui-state-focus {
    font-weight: bold; color: #ffffff;
    background: -moz-linear-gradient(left,  rgba(13,135,151,1) 0%, rgba(14,160,143,1) 35%, rgba(13,136,145,1) 67%, rgba(12,99,136,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(13,135,151,1)), color-stop(35%,rgba(14,160,143,1)), color-stop(67%,rgba(13,136,145,1)), color-stop(100%,rgba(12,99,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8797', endColorstr='#0c6388',GradientType=1 ); /* IE6-9 */
}
#dp_sidebar .ui-state-active, #dp_sidebar .ui-widget-content .ui-state-active, #dp_sidebar .ui-widget-header .ui-state-active {
    font-weight: bold; color: #ffffff;
    border: 1px solid #CE7918;
    background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}
*:focus {
    outline: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-top, #dp_sidebar .ui-corner-left, #dp_sidebar .ui-corner-tl { border-top-left-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-top, #dp_sidebar .ui-corner-right, #dp_sidebar .ui-corner-tr { border-top-right-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-bottom, #dp_sidebar .ui-corner-left, #dp_sidebar .ui-corner-bl { border-bottom-left-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-bottom, #dp_sidebar .ui-corner-right, #dp_sidebar .ui-corner-br { border-bottom-right-radius: 6px; }

/* multiselect */
.ui-multiselect-menu { background:#eee; opacity:0.8; border-radius: 6px; }
#toggleMapItems_ms { height: 32px; width:240px; }
.ui-multiselect-menu { width:240px; }

/* Leaflet */
#select_indicator { width:240px; }
/*#select_basemap { width: 150px; }*/
/*#select_level { width:205px; }*/
/* Leaflet */

.DTFC_LeftHeadWrapper {
    background-color:#000
}

/* Hide certain elements when printing */
@media print
{
    #dp_sidebar, .no-print *
    {
        /* !!!!! printing does not yet work properly !!!!! */
        display:none !important;
    }
}
