
#outerContainer {
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden
}

#outerContainer hr {
    position:relative; top:-10px
}

#dp_sidebar {
    height:100%;
    background: -moz-linear-gradient(left,  rgba(8,94,51,0.45) 0%, rgba(10,120,50,0.45) 34%, rgba(11,123,71,0.45) 67%, rgba(9,105,79,0.45) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(8,94,51,0.45)), color-stop(34%,rgba(10,120,50,0.45)), color-stop(67%,rgba(11,123,71,0.45)), color-stop(100%,rgba(9,105,79,0.45))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(8,94,51,0.45) 0%,rgba(10,120,50,0.45) 34%,rgba(11,123,71,0.45) 67%,rgba(9,105,79,0.45) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73085e33', endColorstr='#7309694f',GradientType=1 ); /* IE6-9 */
}

#dashboard_iframe {
    width:100%;
    height:100%;
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    border:none;
}

#mainContainer {
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    display:none;
    height:100%;
}

#whitespaceContainer {
    display:none;
    background-color:white;
    height:100%;
}

.whitespace {
    position:absolute;
    height:500px;
    height:500px;
}

th {
    font-size:120%;
}

/* Sidebar */
.nav-sidebar {
    cursor:pointer;
    margin-right: -16px;
    margin-left: -16px;
}
.nav-sidebar div a {
    color:#555;
    font-weight:bold;
}
.nav-sidebar div div {
    padding-right: 2px;
    padding-left: 2px;
}
.dp-active {
    border-radius: 3px;
    background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
}
.nav-sidebar .dp-active a {
    color: white;
}
.nav-sidebar div div div:hover {
    background: -moz-linear-gradient(top,  rgba(221,133,0,1) 0%, rgba(221,158,0,1) 26%, rgba(206,148,0,1) 67%, rgba(209,149,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,133,0,1)), color-stop(26%,rgba(221,158,0,1)), color-stop(67%,rgba(206,148,0,1)), color-stop(100%,rgba(209,149,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,133,0,1) 0%,rgba(221,158,0,1) 26%,rgba(206,148,0,1) 67%,rgba(209,149,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd8500', endColorstr='#d19500',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
}
.nav-sidebar div div div:hover a {
    color: white;
    text-decoration:none;
}

table.ptg_data th {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    font-size:100%;
    color:white;
    background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}

table.ptg_data td {
    border: 1px solid white;
    text-align:center;
    padding: 3px;
    background-color: #eeeeee;
}

table.ptg_data td.instShortName {
    text-align:left;
}

.smallHR {
    margin-bottom:0px;
}

/* jQueryUI - accordion */
#dp_sidebar .ui-widget-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
}
#dp_sidebar .ui-accordion .ui-accordion-header {
    display: block; cursor: pointer; position: relative; margin: 2px 3px 0 3px; padding: 5px 5px 5px 5px; min-height: 0; /* support: IE7 */ font-size: 110%;
}
#dp_sidebar .ui-accordion .ui-accordion-content {
    padding: 2px; border-top: 0; overflow: auto; margin: 0 3px 0 3px;
}
#dp_sidebar .ui-widget-content {
    border: 1px solid #dfd9c3; background: #f5f3e5;
}
#dp_sidebar .ui-widget-header {
    border: 1px solid #d4ccb0; background: #ece8da; color: #433f38; font-weight: bold;
}
#dp_sidebar .ui-state-default, #dp_sidebar .ui-widget-content .ui-state-default, #dp_sidebar .ui-widget-header .ui-state-default { 
    font-weight: bold; color: #ffffff; margin:0px;
    border: 1px solid #2B9170;
    background: -moz-linear-gradient(left,  rgba(15,161,171,0.65) 0%, rgba(14,160,143,0.65) 35%, rgba(13,136,145,0.65) 67%, rgba(14,114,160,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,161,171,0.65)), color-stop(35%,rgba(14,160,143,0.65)), color-stop(67%,rgba(13,136,145,0.65)), color-stop(100%,rgba(14,114,160,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(15,161,171,0.65) 0%,rgba(14,160,143,0.65) 35%,rgba(13,136,145,0.65) 67%,rgba(14,114,160,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60fa1ab', endColorstr='#a60e72a0',GradientType=1 ); /* IE6-9 */
}
.darkBlue, #dp_sidebar .ui-state-hover, #dp_sidebar .ui-widget-content .ui-state-hover, #dp_sidebar .ui-widget-header .ui-state-hover, #dp_sidebar .ui-state-focus, #dp_sidebar .ui-widget-content .ui-state-focus, #dp_sidebar .ui-widget-header .ui-state-focus {
    font-weight: bold; color: #ffffff;
    background: -moz-linear-gradient(left,  rgba(13,135,151,1) 0%, rgba(14,160,143,1) 35%, rgba(13,136,145,1) 67%, rgba(12,99,136,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(13,135,151,1)), color-stop(35%,rgba(14,160,143,1)), color-stop(67%,rgba(13,136,145,1)), color-stop(100%,rgba(12,99,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(13,135,151,1) 0%,rgba(14,160,143,1) 35%,rgba(13,136,145,1) 67%,rgba(12,99,136,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8797', endColorstr='#0c6388',GradientType=1 ); /* IE6-9 */
}
#dp_sidebar .ui-state-active, #dp_sidebar .ui-widget-content .ui-state-active, #dp_sidebar .ui-widget-header .ui-state-active {
    font-weight: bold; color: #ffffff;
    border: 1px solid #CE7918;
    background: -moz-linear-gradient(top,  rgba(224,117,17,1) 0%, rgba(224,134,8,1) 26%, rgba(209,86,10,1) 67%, rgba(211,125,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,117,17,1)), color-stop(26%,rgba(224,134,8,1)), color-stop(67%,rgba(209,86,10,1)), color-stop(100%,rgba(211,125,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,117,17,1) 0%,rgba(224,134,8,1) 26%,rgba(209,86,10,1) 67%,rgba(211,125,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07511', endColorstr='#d37d04',GradientType=0 ); /* IE6-9 */
}
*:focus {
    outline: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-top, #dp_sidebar .ui-corner-left, #dp_sidebar .ui-corner-tl { border-top-left-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-top, #dp_sidebar .ui-corner-right, #dp_sidebar .ui-corner-tr { border-top-right-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-bottom, #dp_sidebar .ui-corner-left, #dp_sidebar .ui-corner-bl { border-bottom-left-radius: 6px; }
#dp_sidebar .ui-corner-all, #dp_sidebar .ui-corner-bottom, #dp_sidebar .ui-corner-right, #dp_sidebar .ui-corner-br { border-bottom-right-radius: 6px; }
