.btn { width:100%; }

#modal_sendRecords_ajaxLoadIcon, #modal_sendRecords_close, #modal_sendRecords_ajaxInner {
    display:none;
}

#modal_sendRecords_ajaxInner {
    width:100%;
    padding:2px;
    height:150px;
    overflow-y:scroll;
    background-color:white;
    -webkit-box-shadow: 0px 0px 25px 0px #bbbbbb;
}

.ajaxBlock {
    color:white;
    font-weight:bold;
    font-size:16px;
    float:left;
    height: 21px;
    width: 34px;
    background-color:#555555;
    text-align:center;
    margin: 1px;
    -webkit-border-radius: 4px;
}

table, tr, td {
    text-align: left;
    padding-right: 15px;
    padding-bottom: 5px;
}
